@use '@/styles/color-variables.scss' as *;

.primary-btn{
    background-color: $primary;
    padding: 1rem 0.5rem;
    width: 13rem;
    border: none;
    border-radius: 10px 0px 0px 10px;
    text-align: center;
    cursor: pointer;

    &:hover{
        background-color: darken($primary, 1%);
    }

    &:disabled{         
        opacity: 0.5; 
        cursor: not-allowed;
    }
}